# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
/.idea.wsc.iml
# Datasource local storage ignored files
/../../../../../../:\wsc\wsc\.idea\.idea.wsc.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/

*.xml
discord.xml